<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ .Title }}</title>

  <script type="module">
    document.documentElement.classList.remove('no-js');
    document.documentElement.classList.add('js');
  </script>

  <link rel="stylesheet" href="{{ "css/bootstrap.min.css" | relURL }}">
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">

  <meta name="description" content="{{ .Site.Params.Description }}">
  <meta property="og:title" content="{{ .Title }}">
  <meta property="og:description" content="{{ .Site.Params.Description }}">
  <meta property="og:locale" content="sv_SE">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://skiftesgatan.com/">
  <link rel="canonical" href="https://skiftesgatan.com/">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <!-- <meta name="theme-color" content="#FF00FF"> -->
</head>

<body>
  {{ partial "header" . }}
  <div class="container">
    {{ block "main" . }}{{ end }}
  </div>
  {{ partial "footer" . }}
  <script src="{{ "js/jquery-3.6.0.min.js" | relURL }}"></script>
  <script src="{{ "js/bootstrap.bundle.min.js" | relURL }}"></script>
  <script src="{{ "js/scripts.js" | relURL }}"></script>
</body>

</html>
