{
	"rules": {
		"@typescript-eslint/no-unused-vars": [
			"warn",
			{
				"argsIgnorePattern": "^_",
				"varsIgnorePattern": "^(nameAttr|valueAttr|\\$\\$(Props|Events|Slots|Generic))$"
			}
		]
	}
}
