a:link {
  color: rgba(0, 0, 0, .55);
  ;
}

a:visited {
  color: rgba(0, 0, 0, .55);
  ;
}

a:hover {
  color: rgba(0, 0, 0, .85);
}

.dropdown-toggle::after {
  transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}

.dropdown-menu {
  margin-top: 0;
}

.welcome-splash {
  height: 33vh;
  min-height: 120px;
  background-image: url("/images/map.webp");
  background-size: cover;
  background-position: center bottom;
  text-shadow: 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white;
  margin-top: -1.5rem;
}

.nav-card-header {
  margin-left: 0.5rem;
}

.nav-card {
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
