@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@custom-variant fixed (&:is(.layout-fixed *));

:root {
	--background: oklch(0.9485 0.0457 83.2915);
	--foreground: oklch(0.4558 0.0421 141.2499);
	--card: oklch(0.9485 0.0457 83.2915);
	--card-foreground: oklch(0.4558 0.0421 141.2499);
	--popover: oklch(0.9485 0.0457 83.2915);
	--popover-foreground: oklch(0.4558 0.0421 141.2499);
	--primary: oklch(0.6041 0.0481 140.9473);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.4558 0.0421 141.2499);
	--secondary-foreground: oklch(1 0 0);
	--muted: oklch(0.9184 0.05 83.9575);
	--muted-foreground: oklch(0.5658 0.0439 141.6103);
	--accent: oklch(0.9247 0.0487 83.3468);
	--accent-foreground: oklch(0.4558 0.0421 141.2499);
	--destructive: oklch(0.4656 0.174 22.7048);
	--destructive-foreground: oklch(0.9869 0.0214 95.2774);
	--border: oklch(0.5289 0.0426 141.4479);
	--input: oklch(0.5289 0.0426 141.4479);
	--ring: oklch(0.5289 0.0426 141.4479);
	--font-sans: 'Inter Variable', sans-serif;
	--font-serif: 'Merriweather Variable', serif;
	--font-mono: 'JetBrains Mono', monospace;
	--radius: 0.65rem;
	--shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
	--shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
	--shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
	--shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background text-foreground;
	}

	html {
		@apply scroll-smooth;
	}

	body {
		font-synthesis-weight: none;
		text-rendering: optimizeLegibility;
	}

	a:active,
	button:active {
		@apply opacity-60 md:opacity-100;
	}
}

@utility container {
	@apply mx-auto max-w-[1400px] px-4 lg:px-8;
}

@utility no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

@utility border-ghost {
	@apply after:border-border relative after:absolute after:inset-0 after:border after:mix-blend-darken dark:after:mix-blend-lighten;
}

@utility extend-touch-target {
	@media (pointer: coarse) {
		@apply relative touch-manipulation after:absolute after:-inset-2;
	}
}

@layer utilities {
	.pt-safe {
		padding-top: env(safe-area-inset-top);
	}

	.pb-safe {
		padding-bottom: env(safe-area-inset-bottom);
	}
}
